@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  prefix: "du-";
  logs: false;
}

@theme {
  /* --color-bg-white: #f8f8f8;
  --color-green: #9ae28d;
  --color-yellow: #fbfa90;
  --color-blue: #95e9fe; */
}

.title {
  font-family: "Cherry Bomb One";
}
* {
  font-family: "DynaPuff";
}

button,
div[role="button"],
a {
  @apply cursor-pointer transition-transform select-none active:scale-95;
}

img {
  @apply pointer-events-none;
}

.no-scrollbar {
  scrollbar-width: none;
}
